apiVersion: v1
kind: PersistentVolume
metadata:
  name: transmission-config
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 5Mi
  local:
    path: /var/mnt/data-0/transmission-config
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - srv-0-cor-home
