blocking:
  allowlists:
    default:
      # Whitelist push notification providers for mobile phones.
      - https://badblock.celenity.dev/wildcards-star/push_whitelist.txt
      # Allow alloy and grafana telemetry data.
      - |
        stats.grafana.org
  blockType: nxDomain
  clientGroupsBlock:
    default:
      - default
  denylists:
    default:
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/dyndns.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/fake-onlydomains.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/gambling.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/hoster-onlydomains.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/native.samsung.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/native.tiktok.extended.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/native.winoffice.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/native.xiaomi.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/pro.plus.txt
      - https://raw.githubusercontent.com/hagezi/dns-blocklists/main/wildcard/tif.txt
  loading:
    concurrency: 2
    downloads:
      cooldown: 10s
      timeout: 60s
    refreshPeriod: 72h
bootstrapDns:
  - tcp+udp:1.1.1.1
  - tcp+udp:1.0.0.1
caching:
  prefetching: true
customDNS:
  mapping:
    actual.zarantonello.net: 100.86.43.76,fd7a:115c:a1e0::3501:2b4c
    grafana.zarantonello.net: 100.92.18.24,fd7a:115c:a1e0::7b01:1249
    igl.zarantonello.dev: 100.86.43.76,fd7a:115c:a1e0::3501:2b4c
    mail.zarantonello.dev: 100.72.217.52,fd7a:115c:a1e0::fe01:d942
    minecraft.zarantonello.net: 100.86.43.76,fd7a:115c:a1e0::3501:2b4c
    photos.zarantonello.net: 100.86.43.76,fd7a:115c:a1e0::3501:2b4c
    torrents.zarantonello.net: 100.92.18.24,fd7a:115c:a1e0::7b01:1249
    vault.zarantonello.net: 100.72.217.52,fd7a:115c:a1e0::fe01:d942
fqdnOnly:
  enable: true
log:
  format: json
ports:
  dns: 53
  # Used for http metrics collection.
  http: 8080
prometheus:
  enable: true
queryLog:
  type: none
upstreams:
  groups:
    default:
      - tcp-tls:1.0.0.1:853#one.one.one.one
      - tcp-tls:1.1.1.1:853#one.one.one.one
      # - tcp-tls:2606:4700:4700::1001:853#one.one.one.one
      # - tcp-tls:2606:4700:4700::1111:853#one.one.one.one
      - tcp-tls:9.9.9.9:853#dns.quad9.net
      - tcp-tls:149.112.112.112:853#dns.quad9.net
      # - tcp-tls:2620:fe::9:853#dns.quad9.net
      # - tcp-tls:2620:fe::fe:853#dns.quad9.net
